    /* FONTE USADA NO SITE */
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        font-family: "Outfit", sans-serif;
        box-shadow: none;
    }

    :root { /* PALETA DE CORES peguei inspirado da logo*/
        /* O SITE VAI SER COMPOSTO SOMENTE POR VERMELHO E BRANCO PARA COMBINAR COM A LOGO, POR ISSO UTILIZE ESSAS CORES: */
        
        --vermelho: #F22613;
        --branco: #F2F2F2;
        --vermelhoClaro: #F2594B;

        /* PARA UTILIZAR ESSAS CORES:
        EXEMPLO:
            background-color: var(--branco);
        */

    }

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 100px;
    }

    /* BARRA DE NAVEGAÇÃO */

    header {
        position: fixed;
        display: grid;
        grid-template-areas: "img links";
        grid-template-columns: 1fr 5fr;
        background-color: white;
        width: 100%;
        height: 10vh;
        border-bottom: 5px solid red;
    }

    div#logo {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: img;
    }

   div#logo img {
        width: 10rem;
        align-items: center;
    }

    nav#menu {
        height: 100%;
        grid-area: links;
        display: flex;
        justify-content: end;
        padding-right: 45px;
        align-items: center;
    }
    
    nav#menu ul {
        list-style: none;
        float: right;
    }

    nav#menu  ul li {
        display: inline;
    }

    #menu ul li a {
        padding: 20px;
        text-decoration: none;
        color: #000;
    }

    nav#menu  ul li a:hover {
        color: var(--vermelho);
        cursor: pointer;
    }

    /* HOME - INICIO */
    section#home {
        z-index: -1;
        width: 100%;
        height: 100vh;
        background: url('../images/inicio_alunos.jpg');
        /* opacity : 0.8;  isso deixa mais transparente  */
        background-size: cover;  
        position: relative;
    }

    section#home > #conteiner {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--branco); 
        text-align: center;
    }

    section#home > #conteiner h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    section#home > #conteiner a{
        background: #fff;
        color: #212121;
        padding: 14px 25px;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }


    /* SOBRE */
    section#about {
        margin-top: 1rem;
        padding-top: 10rem;
        width: 100%;
        height: 80vh;
        background: url(/images/fundoabout.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    article.container {
        display: grid;
        grid-template-areas: "img conteudo";
        grid-template-columns: 1fr 2fr;
    }
    
    .titulo-principal {
        text-align: center;
        margin-bottom: 2rem;
    }

    .titulo-principal h1{
        color: var(--vermelho);
        text-transform: uppercase;
        font-size: 1rem;
    }

    .titulo-principal h3 {
        font-size: 2rem;
    }
    
    section#about .img {
        grid-area: img;
        display: flex;
        justify-content: center;
    }

    section#about .img img {
        border-radius: 10%;
    }

    
    section#about .content {
        grid-area: conteudo;
        align-self: center;
        line-height: 2;
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }

    section#about .content a {
        text-decoration: none;
        color: var(--vermelho);
    }


    /* GALERIA */

    section#galeria {
        justify-content: center;
        text-align: center;
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    section#galeria h1{
        color: var(--vermelho);
        text-transform: uppercase;
        font-size: 1rem;
    }

    section#galeria h3{
        font-size: 2rem;
    }

    .container2{
        display: flex;
        justify-content: center;
        gap: 3rem;

    }

    .container2 img{
        border-radius: 10%;
    }

    .more{
        background: #F22613;
        padding: 14px 25px;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .more p{
        color: rgb(54, 2, 2);
    }

    /* DEPOIMENTOS */

    section#depoimentos {
        padding: 5rem;
        background-color: #F2F2F2;
    }

    section#depoimentos > .titulo-principal p {
        text-align: center;
        margin-top: 20px;
        padding: 2rem 25rem 0px;
    }

    section#depoimentos > article#alunos {
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px; 
        gap: 3rem;
    }

     div.aluno {
        box-shadow: 10px  10px 10px #00000038;
        width: 30rem;
        height: 10rem;
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        background-color: #fff;
    }

    div.aluno .center {
        display: flex;
    }

    div.aluno .center img {
        border: 3px solid #F22613;
        border-radius: 50%;
    }

    div.aluno .center h3 {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    div.aluno p {
        margin-top: 15px;
    }

    /* noticias */
    .container3 {
        display: flex;
        align-items: center;
     }
    
    .circulo{
        background: #F22613;
        padding: 24px 35px;
        font-size: 16px;
        border-radius: 150px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    
    .whiteb{
        color: white;
        font-size: 3rem;
        text-align: center;
    }
    
    .seta{
        padding-left: 5%;
    }
    
    .textnot{
        padding-left: 5%;
        font-size: 25px;
    }
    

    /* Fundador */
     section#fundador {
        margin-top: 5rem;
        height: 90vh;
     }

     article#container {
        display: grid;
        grid-template-areas: "img text";
        grid-template-columns: 1fr 1fr;
        margin-top: 8rem;
     }

     article#container #img {
        display: flex;
        justify-content: center;
        grid-area: img;
     }

     article#container #img img {
        border-radius: 50%;
     }

     article#container div#conteudo {
        grid-area: text;
        margin-right: 15rem;
        text-align: justify;
     }

     article#container > div#conteudo p {
        margin-bottom: 10px;
     }



    /* ENTRE EM CONTATO */

    section#contatos {
        padding: 3rem 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5rem;
    }

    article#contato {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "msg form";
        gap: 5rem;
        margin-top: 5rem;
    }

    aside#mensagem {
        grid-area: msg;
    }

    aside#mensagem h4 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    aside#mensagem p {
        display: flex;
        margin-bottom: 15px;
    }

    aside#mensagem p > a {
        color: #000;
    }

    aside#mensagem > div  {
        display: flex;
        gap: 10px;
        width: 13vw;
        justify-content: flex-end;
        
    }

    .material-symbols-outlined {
        padding-right: 10px;
    }

    aside#form {
        grid-area: form;
    }

    aside#form form {
        display: flex;
        flex-direction: column;
    }

    aside#form form > input {
        margin-bottom: 1.5rem;
        margin-top: 5px;
        padding: 15px;
        border: none;
        background-color: rgba(255, 0, 0, 0.158);
    }

    aside#form form > textarea {
        margin-top: 5px;
        padding: 15px;
        border: none;
        background-color: rgba(255, 0, 0, 0.158);
    }

    aside#form form > #botao {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        padding: 10px;
    }

    input#reset {
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: var(--vermelhoClaro);
        cursor: pointer;
    }

    input#submit {
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: rgb(69, 204, 69);
        cursor: pointer;
    }

    ul#horario  {
        margin-left: 3rem;
        list-style: none;
    }

    ul#horario span {
        color: var(--vermelho);
    }

    #horario li {
        margin-bottom: 10px;
    }

    .material-symbols-outlined {
        color: var(--vermelho);
    }

    /* FOOTER - RODAPÉ DA PÁGINA */

    footer {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    footer div {
        display: flex;
        gap: 19.5rem;
        padding: 10px;
        
    }









    
    

    
