    /* FONTE USADA NO SITE */
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        font-family: "Outfit", sans-serif;
        box-shadow: none;
    }

    :root { /* PALETA DE CORES peguei inspirado da logo*/
        /* O SITE VAI SER COMPOSTO SOMENTE POR VERMLEHO E BRANCO PARA COMBINAR COM A LOGO, POR ISSO UTILIZE ESSAS CORES: */
        
        --vermelho: #F22613;
        --branco: #F2F2F2;
        --vermelhoClaro: #F2594B;

        /* PARA UTILIZAR ESSAS CORES:
        EXEMPLO:
            background-color: var(--branco);
        */

    }

    /* BARRA DE NAVEGAÇÃO */

    header {
        position: fixed;
        display: grid;
        grid-template-areas: "img links";
        grid-template-columns: 1fr 5fr;
        background-color: white;
        width: 100%;
        height: 10vh;
    }

    div#logo {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: img;
    }

   div#logo img {
        width: 10rem;
        align-items: center;
    }

    nav#menu {
        height: 100%;
        grid-area: links;
        display: flex;
        justify-content: end;
        padding-right: 45px;
        align-items: center;
    }
    
    nav#menu ul {
        list-style: none;
        float: right;
    }

    nav#menu  ul li {
        display: inline;
    }

    #menu ul li a {
        padding: 20px;
        text-decoration: none;
        color: #000;
    }

    nav#menu  ul li a:hover {
        color: var(--vermelho);
        cursor: pointer;
    }

    /* HOME - INICIO */
    section#home {
        z-index: -1;
        width: 100%;
        height: 100vh;
        background: url('../images/inicio_alunos.jpg');
        /* opacity : 0.8;  isso deixa mais transparente  */
        background-size: cover;  
        position: relative;
    }

    section#home > #conteiner {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--branco); 
        text-align: center;
    }

    section#home > #conteiner h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    section#home > #conteiner a{
        background: #fff;
        color: #212121;
        padding: 14px 25px;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }


    /* SOBRE */
    section#about {
        margin-top: 1rem;
        padding-top: 10rem;
        width: 100%;
        height: 80vh;
        background: url(/images/fundoabout.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    article.container {
        display: grid;
        grid-template-areas: "img conteudo";
        grid-template-columns: 1fr 2fr;
    }
    
    #titulo-principal {
        text-align: center;
        margin-bottom: 5rem;
    }

    #titulo-principal h1{
        color: var(--vermelho);
        text-transform: uppercase;
        font-size: 1rem;
    }

    #titulo-principal h3 {
        font-size: 2rem;
    }
    
    section#about .img {
        grid-area: img;
        display: flex;
        justify-content: center;
    }

    section#about .img img {
        border-radius: 10%;
    }

    
    section#about .content {
        grid-area: conteudo;
        align-self: center;
        line-height: 2;
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }

    section#about .content a {
        text-decoration: none;
        color: var(--vermelho);
    }
    
    

    
